#faqh1 {
    text-align: center;
    margin-top: 170px;
    color: black;
}

body{
    background-color: #d6c8b1;
}

.faq {
    max-width: 600px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: block;
    margin: auto;
    height: auto;
}

details {
    background: black;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    transition: all 0.2s ease;
}

summary {
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] {
    border-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

details p {
    margin-top: 30px;
    color: white;
    line-height: 1.5;
}

summary::after {
    content: '+';
    float: right;
    font-weight: bold;
    transition: transform 0.2s;
}

details[open] summary::after {
    content: '-';
    transform: rotate(180deg);
}

