html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: black;
    height: 120px;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}
.alap-left{
    display: flex;
    height: 120px;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: white;
}

.alap-right{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.shopping{

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 200px;
}

.shopping img {
    height: 45px;
    transition: transform 0.2s ease-in-out;
}

.shopping img:hover {
    transform: scale(1.1);
}

#cart-count {
  background: crimson;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 50%;
  padding: 3px 7px;
  position: absolute;
  right: 14%;
  min-width: 20px;
  text-align: center;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.item{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;    
}

.alap-right a{
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;
}

.alap-right a::before,
.alap-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.alap-right a::before {
  top: 0;
  left: 0;
}

.alap-right a::after {
  bottom: 0;
  right: 0;
}

.alap-right a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.alap-right a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.item0{
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}

#szov{
    width: 100px;
}

/* subscribe */
.subscribe-panel {
  position: fixed;
  top: 19%;
  right: -393px; /* alapból elrejtve */
  width: 400px;
  background: black;
  color: white;
  border: 2px solid white;
  border-right: none;
  border-radius: 10px 0 0 10px;
  transition: right 0.4s ease;
  z-index: 2000;
  font-family: 'Inter', sans-serif;
  overflow: visible;
}

.subscribe-panel.active {
  right: 0; /* amikor aktív, becsúszik */
}

/* Fül */
.subscribe-tab {
  position: absolute;
  left: -223px;
  top: 10%;
  width: 190px;
  height: 40px;
  background: white;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right top;
  box-shadow: 0 0 5px rgba(255,255,255,0.4);
  z-index: 3000;
  border: 2.5px solid white;
}

.subscribe-content {
  padding: 13px;
  padding-left: 20px;
  
}

.subscribe-content h3 {
  margin-bottom: 10px;
  text-align: center;
}

.subscribe-content form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.subscribe-content input {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #222;
  color: white;
}

.subscribe-content input:focus {
  outline: 2px solid white;
}

.subscribe-content button {
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.subscribe-content button:hover {
  background: gray;
  color: white;
}

/* kep csúszó*/

.oldalegy {
    position: relative;
    margin-top: 120px;
    z-index: 0;
    background-color: black; /* háttér a középső részhez */
    overflow: hidden;
}

/* bal és jobb fade overlay */
.oldalegy::before,
.oldalegy::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 150px; /* a fade szélessége */
    z-index: 2;
    pointer-events: none;
}

.oldalegy::before {
    left: 0;
    background: linear-gradient(to right, black, transparent);
}

.oldalegy::after {
    right: 0;
    background: linear-gradient(to left, black, transparent);
}

.img-line {
    position: relative;
    width: 100%;
    overflow: hidden; /* ne lógjanak ki a képek */
    height: 250px; /* a sáv magassága */
    background-color: black;
    filter: blur(3px);
}

.image-slider {
    display: flex;
    width: max-content;
    animation: scrollImages 30s linear infinite;
    background-color: black;
}

.image-slider img {
  width: 400px; /* egy kép szélessége */
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
  background-color: black;
}

.image-slider2 {
  display: flex;
  width: max-content;
  animation: scrollImages2 30s linear infinite;
  background-color: black;
}

.image-slider2 img {
  width: 400px; /* egy kép szélessége */
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scrollImages {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollImages2 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.galeria-cim{
  color: white;
  position: absolute;
  z-index: 10;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  text-align: left;
  width: 600px;
  transform: translateY(32%);
  margin-left: 220px;
}
/* oldal */
.oldalketto{
  height: auto;
  padding-bottom: 70px;
  background-color: #d6c8b1;
  padding-left: 150px;
  padding-right: 150px;
}

.bemutat{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: center;

}
.kepcim{
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 20px;
  height: 250px;
  width: 100%;

}
.stars{
  height: 200px;

}

.bemutat h1{
  font-size: 3rem;

}

#bemutat-szov{
  text-align: justify;
  padding-right: 10px;
}

.bemutat-kep{
  display: flex;
  align-items: center;
  justify-content: center;


}
.bemutat-kep img{
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}


/* CSS */
.rolunkb{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  margin-top: 30px;
}

.rolunkb:disabled {
  pointer-events: none;
}

.rolunkb:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.rolunkb:active {
  box-shadow: none;
  transform: translateY(0);
}

.scroll-anim {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease-out, transform 0.5s ease-out;
}

.scroll-anim.in-view {
  opacity: 1;
  transform: scale(1);
}

/* oldalharom*/
.oldalharom {
  background-color: #695C4A;
  position: relative;
  height: 800px;
  overflow: hidden; /* 👈 FONTOS! levágja az SVG blur szélét */
}

.oldalharom svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  filter: blur(3px);
  background: transparent;
  display: block;
  top: -5%;     /* felfelé toljuk */
  left: -5%;    /* balra toljuk */
  width: 110%;  /* kissé szélesebb */
  height: 110%;
  
}


.oldalharom .muvesz,
.oldalharom .fokusz {
  position: relative;
  z-index: 2;
  background: transparent;
  border: none;
  color: white;
}


.oldalharom .fokusz{
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.oldalharom .fokusz h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;      
}

.kiscsillag{
  height: 60px;
  margin-bottom: 5px;
}

.oldalharom .row {
  padding-left: 50px;
  padding-right: 50px;
}

:root {
  --purple: #603f8b;
  --aqua: #b4fee7;
  --violet: #a16ae8;
  --fuchsia: #fd49a0;
  --white: #efefef;
  --black: #222;
  --trueBlack: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.main {
  max-width: 1200px;
  margin: auto;
}

.cards {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 4rem;
  
}

.cards_item {
  display: flex;
}

.card_image {
  display: flex;
  height: 250px;
}

.card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1); /* szinte átlátszó fehér */
  backdrop-filter: blur(10px); /* elmosódás */
  -webkit-backdrop-filter: blur(10px); /* Safari támogatás */

  border-radius: 5px 25px 5px 50px;
  transition: transform 0.1s linear, box-shadow 0.2s;

  /* finom árnyék a térhatáshoz */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card_text:focus,
.card:focus {
  outline: 2px dashed var(--aqua);
}

.card:focus,
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
  padding: 0.5rem 1rem 1rem;
  color: var(--white);
}



.card_text {

  line-height: 1.5;
  text-size-adjust: 0.2px;
  padding: 0 1rem;
}



@media (min-width: 480px) {
  .card_text {
    overflow: auto;
    max-height: 20rem;
    scrollbar-width: thin;
    scrollbar-color: var(--aqua) var(--violet);
  }

  .card_text::-webkit-scrollbar {
    width: 12px;
  }

  .card_text::-webkit-scrollbar-track {
    background: var(--violet);
  }

  .card_text::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
  }
}

.card_text strong {
  color: var(--aqua);
}


.note {
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-weight: 900;
  background-image: linear-gradient(
    -45deg,
    transparent 10%,
    var(--aqua) 10.5%,
    var(--aqua) 90%,
    transparent 90.5%
  );
  color: var(--black);
  font-size: 1.3em;
  font-style: italic;
  margin-top: 1rem;
}

@keyframes fly-in {
  0% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }

  25% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  26% {
    font-size: 2rem;
  }

  100% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }
}

@keyframes fly-out {
  0% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }

  50% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  100% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }
}

.oldalharom .rolunkb{
  width: 70%;
}




/*lablec*/
.lablec{
    background-color: black;
    height: 400px;
    color: white;
    min-height: 50vh;
}

.lablec h3{
    display: inline-block;          /* csak szöveg szélesség */
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.lablec ul {
    list-style: none; /* eltávolítja a pontokat */
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.lablec li {
  padding: 10px;
  list-style: none;
}


.kapcsolat {
    display: flex;
    flex-direction: column;
    justify-content: center; /* függőleges közép */
    align-items: center;     /* vízszintes közép */
    text-align: center;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.info{
    padding-top: 40px;
}

.navigacio{
    padding-top: 40px;
}

.map{
    max-width: 450px;
    height: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 1px 10px white;
}

.navigacio a{
    text-decoration: none;
    color: white;
}


/* webshop - háttér*/
.webshopold {
  height: auto;
  margin-top: 120px;
  background-color: #d6c8b1;
}

.webteto {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.webteto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('festmények/bbabsztrakt.webp');
    filter: blur(1px);  
    z-index: 0;
}

.webteto h1 {
    position: relative; /* hogy ne essen a ::before alá */
    z-index: 1;
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.filterek {
  color: black;
  background: #d6c8b1;
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  margin: auto;
  border: 5px solid black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin-top: 50px;
}

.legord{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filterek input,
.filterek select {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  width: 300px;
  transition: 0.3s;
  background-color: #000;
  color: white;
}

.filterek input:focus,
.filterek select:focus {
  border-color: white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}


.filterek .checkboxok {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.filterek .checkboxok label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.filterek .checkboxok input[type="checkbox"] {
    width: 20px;       
    height: 20px;      
    cursor: pointer;   
}

.eladoak{
  background-color: #d6c8b1;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

.eladoak .card{width:350px;background: black;border-radius:15px;box-shadow:0 5px 20px rgba(0,0,0,.1);transition:.3s;margin: auto;overflow:hidden;position:relative;cursor:pointer; color: white; height: 450px;}
.eladoak .card:hover{transform:translateY(-5px);box-shadow:0 10px 25px rgba(0,0,0,.15)}
.eladoak .badge{position:absolute;top:10px;right:10px;background: linear-gradient(to right,  rgba(169,3,41,1) 0%,rgba(196,72,72,1) 44%,rgba(170,34,56,1) 100%);color:#fff;padding:5px 10px;font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;border-radius:10px;box-shadow:0 3px 10px rgba(0,0,0,.2);z-index:10}
.eladoak .tilt{overflow:hidden}
.eladoak .img{height:250px;overflow:hidden}
.eladoak .img img{width:100%;height:100%;object-fit:cover;transition:transform .5s}
.eladoak .card:hover .img img{transform:scale(1.05)}
.eladoak .info{padding:20px}
.eladoak .cat{font-size:11px;font-weight:600;letter-spacing:1px;text-transform:uppercase;color:#fff;margin-bottom:5px}
.eladoak .title{font-size:18px;font-weight:700;color:#fff;margin:0 0 10px;letter-spacing:-.5px;text-transform:uppercase;}
.eladoak .desc{font-size:13px;color: #fff;;line-height:1.4;margin-bottom:12px}
.eladoak .feats{display:flex;gap:6px;margin-bottom:15px}
.eladoak .feat{font-size:10px;background:#F4F4F5;color:#71717A;padding:3px 8px;border-radius:10px;font-weight:500}
.eladoak .bottom{display:flex;justify-content:space-between;align-items:center;margin-bottom:12px}
.eladoak .price{display:flex;flex-direction:column}
.eladoak .old{font-size:13px;text-decoration:line-through;color:#A1A1AA;margin-bottom:2px}
.eladoak .new{font-size:20px;font-weight:700;color:#fff}
.eladoak .btn{background:linear-gradient(45deg,#fff,#fff);color:#000;border:none;border-radius:10px;padding:8px 15px;font-size:13px;font-weight:600;cursor:pointer;display:flex;align-items:center;gap:6px;transition:.3s;box-shadow:0 3px 10px rgba(0,0,0,.1)}
.eladoak .btn:hover{background:linear-gradient(45deg,#fff,#fff);transform:translateY(-2px);box-shadow:0 5px 15px rgba(0,0,0,.15)}
.eladoak .btn:before{content:'';position:absolute;top:0;left:-100%;width:100%;height:100%;background:linear-gradient(90deg,transparent,rgba(255,255,255,.1),transparent);transition:.5s}
.eladoak .btn:hover:before{left:100%}
.eladoak .icon{transition:transform .3s}
.eladoak .btn:hover .icon{transform:rotate(-10deg) scale(1.1)}
.eladoak .meta{display:flex;justify-content:space-between;align-items:center;border-top:1px solid #F4F4F5;padding-top:12px}
.eladoak .rating{display:flex;align-items:center;gap:2px}
.eladoak .rcount{margin-left:6px;font-size:11px;color:#71717A}
.eladoak .stock{font-size:11px;font-weight:600;color:#22C55E}
@media (max-width:400px){.card{width:90%}.title{font-size:16px}.img{height:180px}.bottom{flex-direction:column;align-items:flex-start;gap:10px}.price{margin-bottom:5px}.btn{width:100%;justify-content:center}}


/* rólunk */
.rolunkteto{
  padding-bottom: 50px;
  background: #d6c8b1;
}
.rolunkszekcio {
  margin-top: 120px;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rolunkszekcio .wave {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d6c8b1;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0);
  transition: 0.5s;
}
.rolunkszekcio .wave span {
  content: "";
  position: absolute;
  width: 220vh;
  height: 240vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.content {
  position: relative;
  z-index: 1;
  font-size: 3em;
  letter-spacing: 2px;
  color: #fff;
  width: 50%;
  top: -15%;
  left: 7%;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.2);
}
.rolunkszekcio .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.rolunkszekcio .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
.rolunkszekcio .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 15s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -77%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -77%) rotate(360deg);
  }
}

.rolunkoldal{
  height: auto;
  background-color: #d6c8b1;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
}

.rolunkoldal h1{
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0;
}

.rolunkoldal h2{
  font-size: 2rem;
}

.rolunkoldalketto{
  background-color: #d6c8b1;
  height: auto;
  padding-bottom: 70px;
}
.rolunkoldalketto .fokusz{
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.rolunkoldalketto .fokusz h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;      
}

.alapito{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(20, 20, 20, 0.3);
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 30px;
  height: 440px;
}

.alapito img{
  height: 400px;
  margin: 20px;
}

.alapito-szov h1{
  margin-top: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.alapito-szov{
  height: 100%;
  padding-top: 20px;
  font-size: 1.2rem;
  padding-right: 40px;
}

.alapito p {
  text-align: justify
}


/* termék sablon */
.product-page{
  height: 1000px;
  background-color: #d6c8b1;
  padding-top: 50px;
  margin-top: 120px;
  padding-bottom: 50px;
}

.termekleiras{
  background-color: black;
  border-radius:15px;
  color: white;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 50px;
}
.pcim{
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: white solid 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.pcim h1{
  display: inline;
}
#pimage{
  height: 450px;
  margin-bottom: 70px;
}

#authentic{
  height: 40px;
  overflow: hidden;
  margin-left: 100px;
}

.termekleiras p{
  display: inline;
}

.eredet{
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 50px;
  width: 100%;
  
}

#pprice{
  margin: 0;
  font-size: 2rem;
}

.product-page .btn{background:linear-gradient(45deg,#fff,#fff);color:#000;border:none;border-radius:10px;padding:8px 15px;font-size:13px;font-weight:600;cursor:pointer;display:flex;align-items:center;gap:6px;transition:.3s;box-shadow:0 3px 10px rgba(0,0,0,.1); height: 40px;}
.product-page .btn:hover{background:linear-gradient(45deg,#fff,#fff);transform:translateY(-2px);box-shadow:0 5px 15px rgba(0,0,0,.15)}
.product-page .btn:before{content:'';position:absolute;top:0;left:-100%;width:100%;height:100%;background:linear-gradient(90deg,transparent,rgba(255,255,255,.1),transparent);transition:.5s}
.product-page .btn:hover:before{left:100%}
.product-page .icon{transition:transform .3s}
.product-page .btn:hover .icon{transform:rotate(-10deg) scale(1.1)}

.areskosar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: white solid 3px;
  margin-top: 60px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.ajanlott{
  background-color: black;
  border-radius:15px;
  color: white;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.ajanlott .fokusz{
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: 10px;
}

.ajanlott .fokusz h1 {
  font-size: 2rem;
  margin-bottom: 0;
  text-transform: uppercase;     
}

.ajanlott .kiscsillag{
  height: 50px;
  margin: 0;
}

.ajanlotitemek{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.ajanlotitemek img{
  height: 200px;
  margin-top: 30px;
}
.ajanlotitemek h2{
  text-transform: uppercase;
}

/* kosár oldal */ 
.cartoldal{
  margin-top: 120px;
  height: auto;
  background-color: #d6c8b1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cartoldal .row {
  display: flex;
  justify-content: center; /* vízszintesen középre teszi */
}

.adataid,
.vasarlas{
  border-radius: 15px;
  background-color: #000;
  color: white;
  padding: 0 50px 50px 50px;
  margin-bottom: 50px;
  position: relative; /* Fontos, hogy a gomb ehhez igazodjon */
  padding-bottom: 100px; /* Hagyjunk helyet a gombnak */
}

.vasarlas{
  margin-right: 50px;
}

.cartoldal h1{
  text-transform: uppercase;
  font-size: 3rem;
}

.cartoldal .btn{background:linear-gradient(45deg,#fff,#fff);color:#000;border:none;border-radius:10px;padding:8px 15px;font-size:13px;font-weight:600;cursor:pointer;display:flex;align-items:center;gap:6px;transition:.3s;box-shadow:0 3px 10px rgba(0,0,0,.1); height: 40px; position: absolute;  bottom: 20px;
  right: 30px;}
.cartoldal .btn:hover{background:linear-gradient(45deg,#fff,#fff);transform:translateY(-2px);box-shadow:0 5px 15px rgba(0,0,0,.15)}
.cartoldal .btn:before{content:'';position:absolute;top:0;left:-100%;width:100%;height:100%;background:linear-gradient(90deg,transparent,rgba(255,255,255,.1),transparent);transition:.5s}
.cartoldal .btn:hover:before{left:100%}


.adataid h1 {
    color: white;
}

.adataid .form-label {
    font-weight: 600;
    font-size: 0.95rem;
    color: white;
}

.adataid input{
  background-color: #000;
  margin-bottom: 20px;
}

.adataid .form-control {
    border-radius: 10px;
    border: 1px solid rgb(58, 58, 58);
    padding: 0.75rem 1rem;
    transition: all 0.2s ease-in-out;
}

.adataid .form-control:focus {
    border-color: white;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.1);
    outline: none;
}

.adataid textarea.form-control {
    resize: none;
}