html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: black;
    height: 120px;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}
.alap-left{
    display: flex;
    height: 120px;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: white;
}

.alap-right{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.shopping{

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 200px;
}

.shopping img {
    height: 45px;
    transition: transform 0.2s ease-in-out;
}

.shopping img:hover {
    transform: scale(1.1);
}

.item{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;    
}

.alap-right a{
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;
}

.alap-right a::before,
.alap-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.alap-right a::before {
  top: 0;
  left: 0;
}

.alap-right a::after {
  bottom: 0;
  right: 0;
}

.alap-right a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.alap-right a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.item0{
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}

#szov{
    width: 100px;
}

/* oldal */
.oldalegy{
    height: 1200px;
    z-index: 1;
}

/*lablec*/
.lablec{
    background-color: black;
    height: 400px;
    color: white;
}

.lablec h3{
    display: inline-block;          /* csak szöveg szélesség */
    border-bottom: 2px solid white;
    padding-bottom: 4px;

}

.lablec ul {
    list-style: none; /* eltávolítja a pontokat */
    padding: 0;
    margin-bottom: 5px;
}

.lablec li {
    margin-bottom: 4px;
    list-style: none;
}


.kapcsolat {
    display: flex;
    flex-direction: column;
    justify-content: center; /* függőleges közép */
    align-items: center;     /* vízszintes közép */
    text-align: center;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.info{
    padding-top: 40px;
}

.navigacio{
    padding-top: 40px;
}

.map{
    max-width: 450px;
    height: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 1px 10px white;
}

.navigacio a{
    text-decoration: none;
    color: white;
}
