.hatter{
    background-image: url(festmények/hirhatter.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
}

.cimecske{
    display: flex;
}

.fulloldi{
    display: flex;
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* fejlec*/
.fejlec{
    display: flex;
    background-color: black;
    height: 120px;
    flex-direction: row;
    position: fixed; 
    top: 0; 
    width: 100%;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}
.alap-left{
    display: flex;
    height: 120px;
    width: auto;
    gap: 15px;
    padding-top: 3px;
    color: white;
}

.alap-right{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 120px;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.shopping{

    margin-top: auto;
    margin-bottom: auto;
    margin-right: 200px;
}

.shopping img {
    height: 45px;
    transition: transform 0.2s ease-in-out;
}

.shopping img:hover {
    transform: scale(1.1);
}

.item{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    margin-top: auto;    
}

.alap-right a{
    text-decoration: none;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;
}

.alap-right a::before,
.alap-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.5s;
}

.alap-right a::before {
  top: 0;
  left: 0;
}

.alap-right a::after {
  bottom: 0;
  right: 0;
}

.alap-right a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.alap-right a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.item0{
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
}

#szov{
    width: 100px;
}

/* subscribe 
.subscribe{
    position: fixed;
    z-index: 1000;
    width: 500px;
    height: 150px;
    background-color: black;
    border: 1px solid red;
    right: 0;
    top: 20%;
}

.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}*/
.subscribe-panel {
  position: fixed;
  top: 19%;
  right: -393px; /* alapból elrejtve */
  width: 400px;
  background: black;
  color: white;
  border: 2px solid white;
  border-right: none;
  border-radius: 10px 0 0 10px;
  transition: right 0.4s ease;
  z-index: 2000;
  font-family: 'Inter', sans-serif;
  overflow: visible;
}

.subscribe-panel.active {
  right: 0; /* amikor aktív, becsúszik */
}

/* Fül */
.subscribe-tab {
  position: absolute;
  left: -227px;
  top: 11%;
  width: 190px;
  height: 40px;
  background: white;
  color: black;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: right top;
  box-shadow: 0 0 5px rgba(255,255,255,0.4);
  z-index: 3000;
  border: 2.5px solid white;
}

.subscribe-content {
  padding: 13px;
  padding-left: 20px;
  height: 165px;
}

.subscribe-content h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.subscribe-content form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.subscribe-content input {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background: #222;
  color: white;
}

.subscribe-content input:focus {
  outline: 2px solid white;
}

.subscribe-content button {
  background: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.subscribe-content button:hover {
  background: gray;
  color: white;
}
/* oldal*/
.oldal{
  height: 1200px;
  width: 100%;
}

.lablec{
    background-color: black;
    height: 400px;
    color: white;
    min-height: 50vh;
}

.lablec h3{
    display: inline-block;          /* csak szöveg szélesség */
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    margin-bottom: 15px;
}

.lablec p{
  margin-top: 15px;
  margin-bottom: 15px;
}

.lablec ul {
    list-style: none; /* eltávolítja a pontokat */
    padding: 0;
    margin: 0;
}

.lablec li {
  padding: 10px;
  list-style: none;
}


.kapcsolat {
    display: flex;
    flex-direction: column;
    justify-content: center; /* függőleges közép */
    align-items: center;     /* vízszintes közép */
    text-align: center;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.info{
    padding-top: 50px;
}


.navigacio{
    padding-top: 50px;
}

.map{
    max-width: 450px;
    height: 300px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 1px 10px white;
}

.navigacio a{
    text-decoration: none;
    color: white;
}



/* oldalharom*/
.oldalharom {
  background-color: #695C4A;
  position: relative;
  height: 800px;
  overflow: hidden; /* 👈 FONTOS! levágja az SVG blur szélét */
}

.oldalharom svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  filter: blur(3px);
  background: transparent;
  display: block;
  top: -5%;     /* felfelé toljuk */
  left: -5%;    /* balra toljuk */
  width: 110%;  /* kissé szélesebb */
  height: 110%;
  
}


.oldalharom .muvesz,
.oldalharom .fokusz {
  position: relative;
  z-index: 2;
  background: transparent;
  border: none;
  color: white;
}


.oldalharom .fokusz{
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.oldalharom .fokusz h1 {
  font-size: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;      
}

.kiscsillag{
  height: 60px;
  margin-bottom: 5px;
}

.oldalharom .row {
  padding-left: 50px;
  padding-right: 50px;
}

:root {
  --purple: #603f8b;
  --aqua: #b4fee7;
  --violet: #a16ae8;
  --fuchsia: #fd49a0;
  --white: #efefef;
  --black: #222;
  --trueBlack: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.main {
  max-width: 1200px;
  margin: auto;
}

.cards {
  display: grid;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 4rem;
  
}

.cards_item {
  display: flex;
}

.card_image {
  display: flex;
  height: 250px;
}

.card_image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1); /* szinte átlátszó fehér */
  backdrop-filter: blur(10px); /* elmosódás */
  -webkit-backdrop-filter: blur(10px); /* Safari támogatás */

  border-radius: 5px 25px 5px 50px;
  transition: transform 0.1s linear, box-shadow 0.2s;

  /* finom árnyék a térhatáshoz */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card_text:focus,
.card:focus {
  outline: 2px dashed var(--aqua);
}

.card:focus,
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
}

.card_content {
  padding: 0.5rem 1rem 1rem;
  color: var(--white);
}



.card_text {

  line-height: 1.5;
  text-size-adjust: 0.2px;
  padding: 0 1rem;
}



@media (min-width: 480px) {
  .card_text {
    overflow: auto;
    max-height: 20rem;
    scrollbar-width: thin;
    scrollbar-color: var(--aqua) var(--violet);
  }

  .card_text::-webkit-scrollbar {
    width: 12px;
  }

  .card_text::-webkit-scrollbar-track {
    background: var(--violet);
  }

  .card_text::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
  }
}

.card_text strong {
  color: var(--aqua);
}


.note {
  display: block;
  text-align: center;
  padding: 0.5rem;
  font-weight: 900;
  background-image: linear-gradient(
    -45deg,
    transparent 10%,
    var(--aqua) 10.5%,
    var(--aqua) 90%,
    transparent 90.5%
  );
  color: var(--black);
  font-size: 1.3em;
  font-style: italic;
  margin-top: 1rem;
}

@keyframes fly-in {
  0% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }

  25% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  26% {
    font-size: 2rem;
  }

  100% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }
}

@keyframes fly-out {
  0% {
    top: 2rem;
    right: 0;
    font-size: 2rem;
  }

  50% {
    top: 0;
    right: -200%;
    font-size: 1.325rem;
  }

  100% {
    top: 0;
    right: 0;
    font-size: 1.325rem;
  }
}

.rolunkb{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
  margin-top: 30px;
}

.rolunkb:disabled {
  pointer-events: none;
}

.rolunkb:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.rolunkb:active {
  box-shadow: none;
  transform: translateY(0);
}

.oldalharom .rolunkb{
  width: 70%;
}